src/flows/Add_Update_Public_Group_Membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Checks to see if user is in All Agents with UHG Access public group</description>
        <name>In_All_Agents_with_UHG_Access</name>
        <label>In All Agents with UHG Access?</label>
        <locationX>176</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_All_Agents_with_UHG_Access</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user is in All Agents with UHG Access public group</description>
        <name>In_All_Agents_with_UHG_Access_0</name>
        <label>In All Agents with UHG Access?</label>
        <locationX>661</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>In_Onshore_Agents_with_UHG_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_All_Agents_with_UHG_Access_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user is in All Agents with UHG Access public group</description>
        <name>In_All_Agents_with_UHG_Access_0_0</name>
        <label>In All Agents with UHG Access?</label>
        <locationX>1095</locationX>
        <locationY>652</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_All_Agents_with_UHG_Access_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if User is in the Onshore Agents with No UHG Access public group</description>
        <name>In_Onshore_Agents_with_No_UHG_Access</name>
        <label>In Onshore Agents with No UHG Access?</label>
        <locationX>512</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>In_All_Agents_with_UHG_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_No_UHG_Access</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if User is in the Onshore Agents with No UHG Access public group</description>
        <name>In_Onshore_Agents_with_No_UHG_Access_0</name>
        <label>In Onshore Agents with No UHG Access?</label>
        <locationX>1191</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_No_UHG_Access_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if User is in the Onshore Agents with No UHG Access public group</description>
        <name>In_Onshore_Agents_with_No_UHG_Access_0_0</name>
        <label>In Onshore Agents with No UHG Access?</label>
        <locationX>808</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>In_All_Agents_with_UHG_Access_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_No_UHG_Access_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user is in Onshore Agents with UHG Access public group</description>
        <name>In_Onshore_Agents_with_UHG_Access</name>
        <label>In Onshore Agents with UHG Access?</label>
        <locationX>933</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_UHG_Access</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user is in Onshore Agents with UHG Access public group</description>
        <name>In_Onshore_Agents_with_UHG_Access_0</name>
        <label>In Onshore Agents with UHG Access?</label>
        <locationX>921</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>In_Onshore_Agents_with_No_UHG_Access_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_UHG_Access_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if user is in Onshore Agents with UHG Access public group</description>
        <name>In_Onshore_Agents_with_UHG_Access_0_0</name>
        <label>In Onshore Agents with UHG Access?</label>
        <locationX>512</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>In_Onshore_Agents_with_No_UHG_Access_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onshore_Agents_with_UHG_Access_GroupMemberID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_from_Onshore_Agents_with_UHG_Access_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides which public groups to add/delete to/from a user based on onshore restriction and UHG access values on user record</description>
        <name>Which_Public_Groups</name>
        <label>Which Public Groups?</label>
        <locationX>511</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Onshore_Agent_with_UHG_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onshore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UHG_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Onshore_Agents_with_UHG_Access</targetReference>
            </connector>
            <label>Onshore Agent with UHG Access</label>
        </rules>
        <rules>
            <name>Onshore_Agent_with_No_UHG_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onshore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UHG_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Onshore_Agents_with_No_UHG_Access</targetReference>
            </connector>
            <label>Onshore Agent with No UHG Access</label>
        </rules>
        <rules>
            <name>All_Users_with_UHG_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offshore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UHG_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_to_All_Agents_with_UHG_Access</targetReference>
            </connector>
            <label>All Users with UHG Access</label>
        </rules>
        <rules>
            <name>Offshore_User_with_No_UHG_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offshore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UHG_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Onshore_Agents_with_UHG_Access_0_0</targetReference>
            </connector>
            <label>Offshore User with No UHG Access</label>
        </rules>
    </decisions>
    <description>Updates public group membership for use with sharing rules</description>
    <interviewLabel>Add/Update Public Group Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add/Update Public Group Membership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Adds users to Onshore Agents with No UHG Access public group</description>
        <name>Add_Users_to_Onshore_Agents_with_No_UHG_Access</name>
        <label>Add Users to Onshore Agents with No UHG Access</label>
        <locationX>667</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>In_All_Agents_with_UHG_Access_0</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Onshore_Agents_with_No_UHG_Access_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <description>Creates GroupMember record with UserID and public group ID</description>
        <name>Add_Users_to_Onshore_Agents_with_UHG_Access</name>
        <label>Add Users to	Onshore Agents with UHG Access</label>
        <locationX>519</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>In_Onshore_Agents_with_No_UHG_Access</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Onshore_Agents_with_UHG_Access_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <description>Adds user to All Agents with UHG Access public group</description>
        <name>All_to_All_Agents_with_UHG_Access</name>
        <label>All to All Agents with UHG Access</label>
        <locationX>773</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>In_Onshore_Agents_with_UHG_Access_0</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>All_Agents_with_UHG_Access_PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordDeletes>
        <description>Removes user from All Agents with UHG Access public group</description>
        <name>Delete_from_All_Agents_with_UHG_Access</name>
        <label>Delete from All Agents with UHG Access</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes user from All Agents with UHG Access public group</description>
        <name>Delete_from_All_Agents_with_UHG_Access_0</name>
        <label>Delete from All Agents with UHG Access</label>
        <locationX>810</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>In_Onshore_Agents_with_UHG_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes user from All Agents with UHG Access public group</description>
        <name>Delete_from_All_Agents_with_UHG_Access_0_0</name>
        <label>Delete from All Agents with UHG Access</label>
        <locationX>1242</locationX>
        <locationY>649</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the Onshore Agents with No UHG Access public group from the user</description>
        <name>Delete_from_Onshore_Agents_with_No_UHG_Access</name>
        <label>Delete from Onshore Agents with No UHG Access</label>
        <locationX>354</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>In_All_Agents_with_UHG_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the Onshore Agents with No UHG Access public group from the user</description>
        <name>Delete_from_Onshore_Agents_with_No_UHG_Access_0</name>
        <label>Delete from Onshore Agents with No UHG Access</label>
        <locationX>1360</locationX>
        <locationY>436</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the Onshore Agents with No UHG Access public group from the user</description>
        <name>Delete_from_Onshore_Agents_with_No_UHG_Access_0_0</name>
        <label>Delete from Onshore Agents with No UHG Access</label>
        <locationX>964</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>In_All_Agents_with_UHG_Access_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the user from the Onshore Agents with UHG Access public group</description>
        <name>Delete_from_Onshore_Agents_with_UHG_Access</name>
        <label>Delete from Onshore Agents with UHG Access</label>
        <locationX>1082</locationX>
        <locationY>56</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the user from the Onshore Agents with UHG Access public group</description>
        <name>Delete_from_Onshore_Agents_with_UHG_Access_0</name>
        <label>Delete from Onshore Agents with UHG Access</label>
        <locationX>1066</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>In_Onshore_Agents_with_No_UHG_Access_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <description>Removes the user from the Onshore Agents with UHG Access public group</description>
        <name>Delete_from_Onshore_Agents_with_UHG_Access_0_0</name>
        <label>Delete from Onshore Agents with UHG Access</label>
        <locationX>683</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>In_Onshore_Agents_with_No_UHG_Access_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_UHG_Access_GroupMemberID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <description>Gets the public group membership of the All Agents with UHG Access Public Group and user, if it exists</description>
        <name>Get_All_Agents_with_UHG_Access_GroupMemberID</name>
        <label>Get All Agents with UHG Access Group Member ID</label>
        <locationX>392</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onshore_Agents_with_No_UHG_Access_GroupMemberID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Agents_with_UHG_Access_PublicGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>All_Agents_with_UHG_Access_GroupMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the public group ID of the All Agents with UHG Access Public Group</description>
        <name>Get_All_Agents_with_UHG_Access_Public_Group_ID</name>
        <label>Get All Agents with UHG Access Public Group ID</label>
        <locationX>257</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Agents_with_UHG_Access_GroupMemberID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Agents with UHG Access</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>All_Agents_with_UHG_Access_PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the public group membership of the Onshore Agents with No UHG Access Public Group and user, if it exists</description>
        <name>Get_Onshore_Agents_with_No_UHG_Access_GroupMemberID</name>
        <label>Get Onshore Agents with No UHG Access Group Member ID</label>
        <locationX>393</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onshore_Agents_with_UHG_Access_GroupMemberID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_No_UHG_Access_PublicGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>Onshore_Agents_with_No_UHG_Access_GroupMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the public group ID of the Onshore Agents with No UHG Access Public Group</description>
        <name>Get_Onshore_Agents_with_No_UHG_Access_Public_Group_ID</name>
        <label>Get Onshore Agents with No UHG Access Public Group ID</label>
        <locationX>257</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Agents_with_UHG_Access_Public_Group_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onshore Agents with No UHG Access</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Onshore_Agents_with_No_UHG_Access_PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the public group membership of the Onshore Agents with UHG Access Public Group and user, if it exists</description>
        <name>Get_Onshore_Agents_with_UHG_Access_GroupMemberID</name>
        <label>Get Onshore Agents with UHG Access Group Member ID</label>
        <locationX>393</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Public_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Onshore_Agents_with_UHG_Access_PublicGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>Onshore_Agents_with_UHG_Access_GroupMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the public group ID of the Onshore Agents with UHG Access Public Group</description>
        <name>Get_Onshore_Agents_with_UHG_Access_Public_Group_ID</name>
        <label>Get Onshore Agents with UHG Access Public Group ID</label>
        <locationX>257</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onshore_Agents_with_No_UHG_Access_Public_Group_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onshore Agents with UHG Access</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Onshore_Agents_with_UHG_Access_PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Onshore_Agents_with_UHG_Access_Public_Group_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>Populated from process, tells if user is onshore or offshore</description>
        <name>Agent_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores groupmember ID of user and All Agents with UHG Access public group</description>
        <name>All_Agents_with_UHG_Access_GroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the public group ID for All Agents with UHG Access public group</description>
        <name>All_Agents_with_UHG_Access_PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the groupmember ID</description>
        <name>Onshore_Agents_with_No_UHG_Access_GroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the SFDC ID of the Onshore_Agents_with_UHG_Access public group</description>
        <name>Onshore_Agents_with_No_UHG_Access_PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The ID of the group member record with the user and the Onshore Agents with UHG Access public group</description>
        <name>Onshore_Agents_with_UHG_Access_GroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>NA</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the SFDC ID of the Onshore_Agents_with_UHG_Access public group</description>
        <name>Onshore_Agents_with_UHG_Access_PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Populated from process, tells if user has access to UHG restricted data based on user record</description>
        <name>UHG_Access</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User ID of the user the flow initiated from</description>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
