src/flows/ERM_Create_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoDetails</name>
        <label>Navigate to Details</label>
        <locationX>1399</locationX>
        <locationY>1535</locationY>
        <actionName>c:ERM_CreateRequestFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseRecordID</name>
            <value>
                <elementReference>caseRecordID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestDetailObjectRecordID</name>
            <value>
                <elementReference>requestDetailRecordID.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assignment_Broker</name>
        <label>Assignment Broker</label>
        <locationX>1279</locationX>
        <locationY>1029</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_Broker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EServices/Broker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseRecord_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Employer</name>
        <label>Assignment Employer</label>
        <locationX>971</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EServices/Employer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseRecord_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Nice</name>
        <label>NICE Request Type</label>
        <locationX>840</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_NICE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NICE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Prime</name>
        <label>Prime Request Type</label>
        <locationX>594</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_PRIME</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRIME</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Unet</name>
        <label>UNET Request Type</label>
        <locationX>719</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_UNET</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UNET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to store Term and Cobra Term Request Type Values:Termination Level and Dependent Count</description>
        <name>Aura_Variable_Assignment</name>
        <label>Aura Variable Assignment</label>
        <locationX>1142</locationX>
        <locationY>1880</locationY>
        <assignmentItems>
            <assignToReference>TerminationLevelVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerminationLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DependentCountVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestDetailObjectRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestDetailRecordID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FamilySectionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Family_Section</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildCountVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Details_Aura_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPTIN_Assignment</name>
        <label>Record Type</label>
        <locationX>817</locationX>
        <locationY>1305</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CPTIN_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Platform_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dual_Platform_Assignment</name>
        <label>Record Type</label>
        <locationX>604</locationX>
        <locationY>1323</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Dual_Platform_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Platform_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employer_Assignment</name>
        <label>Platform Employer Assignment</label>
        <locationX>1016</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>eServiceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EServices/Employer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eServiceScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>eService_Assignment</name>
        <label>Record Type</label>
        <locationX>1125</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Eservices_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>policyRecordTypeVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_eServices_Policy_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>E_Service_Platform_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IEX_No</name>
        <label>IEX No</label>
        <locationX>296</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>IEXGroupValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlatformMapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IEX_Yes</name>
        <label>IEX Yes</label>
        <locationX>46</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>IEXGroupValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlatformMapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NICEAssignment</name>
        <label>NICE</label>
        <locationX>69</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NICE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>requestScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Platform1Screen</name>
        <label>Platform1 Screen</label>
        <locationX>606</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>policyNumberVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolicyScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupNameScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subjectGroupIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectGroupIDScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OtherRequestType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Platform2Screen</name>
        <label>Platform2 Screen</label>
        <locationX>825</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupNameVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreamGroupRecordId.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>policyNumberVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreamGroupRecordId.PolicyNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subjectGroupIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreamGroupRecordId.Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OtherRequestType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Platform_Assignment_Broker</name>
        <label>Platform Broker Assignment</label>
        <locationX>1225</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>eServiceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EServices/Broker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eServiceScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PRIMEAssignment</name>
        <label>PRIME</label>
        <locationX>261</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRIME</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>requestScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Details_Record_Type_Assignment</name>
        <label>Record Type</label>
        <locationX>623</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Request_Details_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stream_Group_Id_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UNET</name>
        <label>UNET</label>
        <locationX>163</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>Platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UNET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>requestScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Created  for Request Type Picklist</description>
        <name>Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddanewPolicytoanexisting</name>
        <choiceText>Add New policy to an Existing Employer Profile / Create New GPS Employer Profile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New policy to an Existing Employer Profile/Create New GPS Employer Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddaNewUserProfile</name>
        <choiceText>Add a New User Profile Under Existing Broker Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add a New User Profile Under Existing Broker Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddanewuserProfileunderExisting</name>
        <choiceText>Add a new user Profile under Existing Employer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add a new user Profile under Existing Employer</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddMultiplePolicies</name>
        <choiceText>Add Multiple Policies to an Existing Broker Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Multiple Policies to an Existing Broker Agency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Addnewpolicy</name>
        <choiceText>Add New Policy to an Existing Broker Agency Profile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Policy to an Existing Broker Agency Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddUpdateMultiplePolicies</name>
        <choiceText>Add/Update Multiple Policies to an Existing User Profile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Update Multiple Policies to an Existing User Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>CalPERSElectronicFallout</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CalPERS Electronic Fallout&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CalPERS Electronic Fallout</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Change&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeExistingBroker</name>
        <choiceText>Change Existing Broker Agency Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Existing Broker Agency Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeExistingEmployerReporting</name>
        <choiceText>Change Existing Employer Reporting or Update Paper Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Existing Employer Reporting or Update Paper Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangePermissionstoanExistingPolicy</name>
        <choiceText>Change Permissions to an Existing Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Permissions to an Existing Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangePermissiontoanExistingEmployerPolicy</name>
        <choiceText>Change Permission to an Existing Employer Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Permission to an Existing Employer Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChildrenFamily</name>
        <choiceText>Child(ren)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Child(ren)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CobraAdd</name>
        <choiceText>Cobra Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cobra Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>CobraChange</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Cobra Change&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cobra Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>CobraTerm</name>
        <choiceText>Cobra Term</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cobra Term</stringValue>
        </value>
    </choices>
    <choices>
        <name>CorrectiontoPreviouslyMailedFaxedDocument</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Correction to Previously Mailed/Faxed Document&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correction to Previously Mailed/Faxed Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPTIN</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;CPTIN&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPTIN</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreatenewBrokerAgencyProfile</name>
        <choiceText>Create new Broker Agency Profile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new Broker Agency Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerProfileUpdates</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Customer Profile Updates&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Profile Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>DependentsOnly</name>
        <choiceText>Dependent(s) Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dependent(s) Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>DomesticPartnerFamily</name>
        <choiceText>Domestic Partner/Civil Union</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domestic Partner/Civil Union</stringValue>
        </value>
    </choices>
    <choices>
        <name>DualPlatform</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Dual Platform&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dual Platform</stringValue>
        </value>
    </choices>
    <choices>
        <name>DuplicateMember</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Duplicate Member&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>EEFullFamily</name>
        <choiceText>EE/Full Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EE/Full Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>ElectronicFallout</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Electronic Fallout&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic Fallout</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployeeFamily</name>
        <choiceText>Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>GroupLevelReinstatement</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Group Level Reinstatement&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Level Reinstatement</stringValue>
        </value>
    </choices>
    <choices>
        <name>GroupLevelTerm</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Group Level Term&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Level Term</stringValue>
        </value>
    </choices>
    <choices>
        <name>GroupLevelUpdates</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Group Level Updates&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Level Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>HostSystemErrorReports</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Host System Error Reports (Multiple Policy Numbers)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Host System Error Reports (Multiple Policy Numbers)</stringValue>
        </value>
    </choices>
    <choices>
        <name>InactivateanExistingnBrokerAgencyProfile</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Inactivate an Existing Broker Agency Profile&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactivate an Existing Broker Agency Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>InactivateMultiplePoliciesunder</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Inactivate Multiple Policies Under Existing Broker Agency&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactivate Multiple Policies Under Existing Broker Agency</stringValue>
        </value>
    </choices>
    <choices>
        <description>Inactive Existing Policy Under Employer</description>
        <name>InactiveExistingPolicyUnderEmployer</name>
        <choiceText>Inactivate Existing Policy Under Employer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactivate Existing Policy Under Employer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>MemberSSNUpdate</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Member SSN Update&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member SSN Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Poemm</name>
        <choiceText>POEMM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POEMM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reinstate</name>
        <choiceText>Reinstate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reinstate</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportGenerator</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Report Generator&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report Generator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Reporting&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestBrokerClientReports</name>
        <choiceText>Request Broker Client Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Broker Client Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestEmployerClientReports</name>
        <choiceText>Request Employer Client Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Employer Client Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>Research</name>
        <choiceText>Research</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Research</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select</name>
        <choiceText>Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select</stringValue>
        </value>
    </choices>
    <choices>
        <name>SHOPIndividualExchange</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SHOP/Individual Exchange&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SHOP/Individual Exchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>SpouseFamily</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>StandardAltIDChange</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Standard Alt-ID Change&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Alt-ID Change</stringValue>
        </value>
    </choices>
    <choices>
        <description>Created  for Request Type Picklist</description>
        <name>Term</name>
        <choiceText>Term</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Term</stringValue>
        </value>
    </choices>
    <choices>
        <name>TPAReports</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;TPA Reports (Multiple Policy Numbers)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TPA Reports (Multiple Policy Numbers)</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateInactivateReactivateanExistingUserProfile</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Update/Inactivate/Reactivate an Existing User Profile&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update/Inactivate/Reactivate an Existing User Profile</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateUserAccessToExistingPolicies</name>
        <choiceText>Update User Access to Existing Policies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update User Access to Existing Policies</stringValue>
        </value>
    </choices>
    <choices>
        <name>W2Report</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;W2 Report&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W2 Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>E_Service_Platform_Decision</name>
        <label>E Service Platform Decision</label>
        <locationX>1118</locationX>
        <locationY>594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broker_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eServiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform_Assignment_Broker</targetReference>
            </connector>
            <label>Broker Outcome</label>
        </rules>
        <rules>
            <name>Employer_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eServiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employer_Assignment</targetReference>
            </connector>
            <label>Employer Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set the default value to No if -None- is present</description>
        <name>IEX_Group_Mapping</name>
        <label>IEX Group Mapping</label>
        <locationX>152</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>IEX_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IEX_Value_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StreamGroupRecordId.IEX_Picklist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StreamGroupRecordId.IEX_Picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IEX_No</targetReference>
            </connector>
            <label>IEX Value No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Called when declaration Checkbox is checked</description>
        <name>OtherRequestType</name>
        <label>Declaration Is Checked</label>
        <locationX>728</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>CaseRecord_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeclarationisChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Declaration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseRecord_DeclarationChecked</targetReference>
            </connector>
            <label>Declaration is Checked</label>
        </rules>
        <rules>
            <name>Declaration_Is_Unchecked</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CobraAdd</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Term</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CobraTerm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reinstate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Declaration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FamilySection</targetReference>
            </connector>
            <label>Declaration Is Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Map Platform when No Stream Group Id is present</description>
        <name>Platform_Null_Check</name>
        <label>Platform Null Check</label>
        <locationX>726</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Platform1Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Platform2_Screen_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlatformScreen2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platform2Screen</targetReference>
            </connector>
            <label>Platform2 Screen Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Do Mapping Based on Source Selection</description>
        <name>PlatformMapping</name>
        <label>Platform Mapping</label>
        <locationX>153</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StreamGroupRecordId.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRIMEAssignment</targetReference>
            </connector>
            <label>PR</label>
        </rules>
        <rules>
            <name>NI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StreamGroupRecordId.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NICEAssignment</targetReference>
            </connector>
            <label>NI</label>
        </rules>
        <rules>
            <name>AC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StreamGroupRecordId.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UNET</targetReference>
            </connector>
            <label>AC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for the Request Type</description>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>713</locationX>
        <locationY>1113</locationY>
        <defaultConnector>
            <targetReference>Platform_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPTIN_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPTIN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPTIN_Record_Type</targetReference>
            </connector>
            <label>CPTIN Record Type</label>
        </rules>
        <rules>
            <name>DUAL_Platform_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DualPlatform</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dual_Platform_Record_Type</targetReference>
            </connector>
            <label>DUAL Platform Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Decision</name>
        <label>Request Decision</label>
        <locationX>1127</locationX>
        <locationY>934</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Type_Broker_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eServiceplatform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;EServices/Broker&lt;/b&gt;&lt;/p&gt;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Broker</targetReference>
            </connector>
            <label>Request Type Broker Decision</label>
        </rules>
        <rules>
            <name>Request_Type_Employer_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eServiceplatform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;EServices/Employer&lt;/b&gt;&lt;/p&gt;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Employer</targetReference>
            </connector>
            <label>Request Type Employer Decision</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to assign Request type and Platform Based on Group Found or No Group Found</description>
        <name>Request_Type_Mapping</name>
        <label>Request  Decision</label>
        <locationX>694</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Type_Prime_Decision</name>
            <conditionLogic>(1 OR 2 )</conditionLogic>
            <conditions>
                <leftValueReference>PlatformScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;PRIME&lt;/b&gt;&lt;/p&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatformScreen2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRIME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Prime</targetReference>
            </connector>
            <label>Prime Group</label>
        </rules>
        <rules>
            <name>Request_Type_Unet_Decision</name>
            <conditionLogic>(1 OR 2 )</conditionLogic>
            <conditions>
                <leftValueReference>PlatformScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;UNET&lt;/b&gt;&lt;/p&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatformScreen2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Unet</targetReference>
            </connector>
            <label>Unet Group</label>
        </rules>
        <rules>
            <name>Request_Type_Nice_Decision</name>
            <conditionLogic>(1 OR 2 )</conditionLogic>
            <conditions>
                <leftValueReference>PlatformScreen1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NICE&lt;/b&gt;&lt;/p&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PlatformScreen2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NICE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Nice</targetReference>
            </connector>
            <label>Nice Group</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check when Flow Stream group Data is Null or not</description>
        <name>Stream_Group_Id_Null_Check</name>
        <label>Group Null Check</label>
        <locationX>615</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>requestScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StreamGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStreamRecords</targetReference>
            </connector>
            <label>GroupId Not Null</label>
        </rules>
        <rules>
            <name>eService_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eServiceName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eservices_Record_Type</targetReference>
            </connector>
            <label>eService-Platform</label>
        </rules>
    </decisions>
    <description>Updated the flow to API Version 52.0 for Picklists to show None values.</description>
    <dynamicChoiceSets>
        <description>Fetch Platform Picklist values from Request Details</description>
        <name>PlatFormPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plat_form__c</picklistField>
        <picklistObject>Stream_Request_Details__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Fetch Termination Level from Request Details</description>
        <name>TerminationLevelPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termination_Level__c</picklistField>
        <picklistObject>Stream_Request_Details__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Uses to fetch Termination Reason values</description>
        <name>TerminationReasonPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termination_Reason__c</picklistField>
        <picklistObject>Stream_Request_Details__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ERM Create Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERM Create Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CaseRecord_Default</name>
        <label>Case</label>
        <locationX>1136</locationX>
        <locationY>1318</locationY>
        <assignRecordIdToReference>caseRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Details_Default</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Stream</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <elementReference>groupNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>policyNumberVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Stream_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Group_ID__c</field>
            <value>
                <elementReference>subjectGroupIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCase_DeclarationUnChecked</name>
        <label>Case</label>
        <locationX>861</locationX>
        <locationY>1882</locationY>
        <assignRecordIdToReference>caseRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>RequestDetails_DeclarationUnchecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Stream</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <elementReference>groupNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>policyNumberVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Stream_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Group_ID__c</field>
            <value>
                <elementReference>subjectGroupIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Create Case Record</description>
        <name>CreateCaseRecord_DeclarationChecked</name>
        <label>Case</label>
        <locationX>1135</locationX>
        <locationY>1752</locationY>
        <assignRecordIdToReference>caseRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Details_DeclarationChecked</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Stream</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <elementReference>groupNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>policyNumberVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Stream_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Group_ID__c</field>
            <value>
                <elementReference>subjectGroupIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Used to capture Stream Group Object Records Coming from Lightning Component Stream Explorer Landing Page</description>
        <name>Request_Details_DeclarationChecked</name>
        <label>Request Details</label>
        <locationX>1404</locationX>
        <locationY>1738</locationY>
        <assignRecordIdToReference>requestDetailRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>NavigatetoDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseRecordID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IEX_Picklist__c</field>
            <value>
                <elementReference>IEXGroupValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_have_a_completed_form_document__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integrated_Administration__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_form__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordCreates>
    <recordCreates>
        <description>Used to capture Stream Group Object Records Coming from Lightning Component Stream Explorer Landing Page</description>
        <name>Request_Details_Default</name>
        <label>Request Details</label>
        <locationX>1134</locationX>
        <locationY>1536</locationY>
        <assignRecordIdToReference>requestDetailRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>NavigatetoDetails</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseRecordID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Count__c</field>
            <value>
                <elementReference>ChildCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Count__c</field>
            <value>
                <elementReference>DependentCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Selection__c</field>
            <value>
                <elementReference>Family_Section</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IEX_Picklist__c</field>
            <value>
                <elementReference>IEXGroupValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integrated_Administration__c</field>
            <value>
                <elementReference>Integrated_Administration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_form__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eServices_Policy_RecordTypeId__c</field>
            <value>
                <elementReference>policyRecordTypeVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordCreates>
    <recordCreates>
        <description>Used to capture Stream Group Object Records Coming from Lightning Component Stream Explorer Landing Page</description>
        <name>RequestDetails_DeclarationUnchecked</name>
        <label>Request Details</label>
        <locationX>1006</locationX>
        <locationY>1876</locationY>
        <assignRecordIdToReference>requestDetailRecordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Aura_Variable_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseRecordID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child_Count__c</field>
            <value>
                <elementReference>ChildCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Count__c</field>
            <value>
                <elementReference>DependentCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Selection__c</field>
            <value>
                <elementReference>Family_Section</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IEX_Picklist__c</field>
            <value>
                <elementReference>IEXGroupValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_have_a_completed_form_document__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integrated_Administration__c</field>
            <value>
                <elementReference>Integrated_Administration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plat_form__c</field>
            <value>
                <elementReference>Platform</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestType__c</field>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Level__c</field>
            <value>
                <elementReference>TerminationLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Notes__c</field>
            <value>
                <elementReference>TerminationNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>TerminationReason</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CPTIN_Record_Type</name>
        <label>Get CPTIN Record Type</label>
        <locationX>810</locationX>
        <locationY>1208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPTIN_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPTIN Request Details</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dual_Platform_Record_Type</name>
        <label>Get Dual Platform Record Type</label>
        <locationX>603</locationX>
        <locationY>1204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dual_Platform_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dual Platform Request Details</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_eServices_Policy_Record_Type</name>
        <label>Get eServices Policy Record Type</label>
        <locationX>898</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eService_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eservices_Record_Type</name>
        <label>Get Eservices Record Type</label>
        <locationX>767</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_eServices_Policy_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EServices Request Details</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Stores Record Type</description>
        <name>Get_Request_Details_Record_Type</name>
        <label>Get Request Details Record Type</label>
        <locationX>623</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Details_Record_Type_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request Details</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stream_Record_Type</name>
        <label>Get Stream Record Type</label>
        <locationX>467</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Request_Details_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stream</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Created To get Stream Group Object data Coming from Aura component</description>
        <name>GetStreamRecords</name>
        <label>Get Stream Group Records</label>
        <locationX>159</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IEX_Group_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StreamGroupId</elementReference>
            </value>
        </filters>
        <object>Stream__c</object>
        <outputReference>StreamGroupRecordId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>Customer_Number__c</queriedFields>
        <queriedFields>PeopleSoftID__c</queriedFields>
        <queriedFields>PolicyNumber__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountID__c</queriedFields>
        <queriedFields>IEX_Picklist__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>eServiceScreen</name>
        <label>E-ServiceScreen</label>
        <locationX>1131</locationX>
        <locationY>809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Decision</targetReference>
        </connector>
        <fields>
            <name>eServiceplatform</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!eServiceName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>eServiceScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>eServiceScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_Broker</name>
                    <choiceReferences>AddaNewUserProfile</choiceReferences>
                    <choiceReferences>AddMultiplePolicies</choiceReferences>
                    <choiceReferences>Addnewpolicy</choiceReferences>
                    <choiceReferences>AddUpdateMultiplePolicies</choiceReferences>
                    <choiceReferences>ChangeExistingBroker</choiceReferences>
                    <choiceReferences>ChangePermissionstoanExistingPolicy</choiceReferences>
                    <choiceReferences>CreatenewBrokerAgencyProfile</choiceReferences>
                    <choiceReferences>InactivateanExistingnBrokerAgencyProfile</choiceReferences>
                    <choiceReferences>InactivateMultiplePoliciesunder</choiceReferences>
                    <choiceReferences>RequestBrokerClientReports</choiceReferences>
                    <choiceReferences>UpdateUserAccessToExistingPolicies</choiceReferences>
                    <choiceReferences>UpdateInactivateReactivateanExistingUserProfile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>eServiceName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Broker</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Request_Type_Employer</name>
                    <choiceReferences>AddanewuserProfileunderExisting</choiceReferences>
                    <choiceReferences>AddanewPolicytoanexisting</choiceReferences>
                    <choiceReferences>AddUpdateMultiplePolicies</choiceReferences>
                    <choiceReferences>ChangeExistingEmployerReporting</choiceReferences>
                    <choiceReferences>ChangePermissiontoanExistingEmployerPolicy</choiceReferences>
                    <choiceReferences>InactiveExistingPolicyUnderEmployer</choiceReferences>
                    <choiceReferences>RequestEmployerClientReports</choiceReferences>
                    <choiceReferences>UpdateUserAccessToExistingPolicies</choiceReferences>
                    <choiceReferences>UpdateInactivateReactivateanExistingUserProfile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>eServiceName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Employer</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>eServiceScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FamilySection</name>
        <label>Family Section</label>
        <locationX>726</locationX>
        <locationY>1882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCase_DeclarationUnChecked</targetReference>
        </connector>
        <fields>
            <name>BasicInformation</name>
            <fieldText>&lt;h2&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Basic Information&lt;/b&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FamilySection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FamilySection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TerminationReason</name>
                    <choiceReferences>TerminationReasonPickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Termination Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 4) AND  (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>PlatformScreen1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>NICE</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Term</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cobra Term</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PlatformScreen2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NICE</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TerminationLevel</name>
                    <choiceReferences>TerminationLevelPickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Termination Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FamilySection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TerminationNotes</name>
                    <dataType>String</dataType>
                    <fieldText>Termination Notes:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 OR 4) AND  (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>PlatformScreen1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>NICE</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Term</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cobra Term</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PlatformScreen2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NICE</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DependentCount</name>
                    <dataType>Number</dataType>
                    <fieldText>Dependent Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TerminationLevel</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DependentsOnly</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CobraTerm</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Declaration</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Term</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorValidationSection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 67, 44);&quot;&gt;You must specify a dependent termination count&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)  OR 5</conditionLogic>
                <conditions>
                    <leftValueReference>TerminationLevel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DependentsOnly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentCount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentCount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TerminationLevel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EEFullFamily</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Family_Section</name>
            <choiceReferences>EmployeeFamily</choiceReferences>
            <choiceReferences>SpouseFamily</choiceReferences>
            <choiceReferences>DomesticPartnerFamily</choiceReferences>
            <choiceReferences>ChildrenFamily</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Family Section</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3 ) AND ( 4 AND 5)</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Add</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CobraAdd</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reinstate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Declaration</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DependentCount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FamilySection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FamilySection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChildCount</name>
                    <dataType>Number</dataType>
                    <fieldText>Child Count:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChildrenFamily</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FamilySection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FamilySection_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FamilySection_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Add</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CobraAdd</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reinstate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorChilCountMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 51, 51);&quot;&gt;1.You must enter the child count&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 29, 29);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChildrenFamily</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Member_Details_Aura_Screen</name>
        <label>Member Details Aura Screen</label>
        <locationX>1280</locationX>
        <locationY>1873</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PassValuesToERMCreateRequestComponent</name>
            <extensionName>c:ERM_CreateRequestFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseRecordID</name>
                <value>
                    <elementReference>caseRecordID.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ChildCount</name>
                <value>
                    <elementReference>ChildCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ChildCountVariable</name>
                <value>
                    <elementReference>ChildCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>DependentCountVariable</name>
                <value>
                    <elementReference>DependentCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FamilySectionVariable</name>
                <value>
                    <elementReference>Family_Section</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Platform</name>
                <value>
                    <elementReference>Platform</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RequestDetailObjectRecordID</name>
                <value>
                    <elementReference>RequestDetailObjectRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestDetailRecordID</name>
                <value>
                    <elementReference>RequestDetailObjectRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RequestTypeVar</name>
                <value>
                    <elementReference>RequestType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TerminationLevelVariable</name>
                <value>
                    <elementReference>TerminationLevelVariable</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>requestScreen</name>
        <label>Request</label>
        <locationX>435</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Type_Mapping</targetReference>
        </connector>
        <fields>
            <name>PlatformScreen1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Platform}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StreamGroupId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlatformScreen2</name>
            <choiceReferences>PlatFormPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StreamGroupId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_PRIME</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>CobraAdd</choiceReferences>
            <choiceReferences>CobraChange</choiceReferences>
            <choiceReferences>CobraTerm</choiceReferences>
            <choiceReferences>CorrectiontoPreviouslyMailedFaxedDocument</choiceReferences>
            <choiceReferences>CPTIN</choiceReferences>
            <choiceReferences>DualPlatform</choiceReferences>
            <choiceReferences>ElectronicFallout</choiceReferences>
            <choiceReferences>GroupLevelReinstatement</choiceReferences>
            <choiceReferences>GroupLevelTerm</choiceReferences>
            <choiceReferences>GroupLevelUpdates</choiceReferences>
            <choiceReferences>HostSystemErrorReports</choiceReferences>
            <choiceReferences>MemberSSNUpdate</choiceReferences>
            <choiceReferences>Reinstate</choiceReferences>
            <choiceReferences>Research</choiceReferences>
            <choiceReferences>SHOPIndividualExchange</choiceReferences>
            <choiceReferences>Term</choiceReferences>
            <choiceReferences>TPAReports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>PRIME</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PRIME</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Integrated_Administration</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Integrated Administration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_UNET</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>CalPERSElectronicFallout</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>CobraAdd</choiceReferences>
            <choiceReferences>CobraChange</choiceReferences>
            <choiceReferences>CobraTerm</choiceReferences>
            <choiceReferences>CorrectiontoPreviouslyMailedFaxedDocument</choiceReferences>
            <choiceReferences>CPTIN</choiceReferences>
            <choiceReferences>CustomerProfileUpdates</choiceReferences>
            <choiceReferences>DuplicateMember</choiceReferences>
            <choiceReferences>ElectronicFallout</choiceReferences>
            <choiceReferences>HostSystemErrorReports</choiceReferences>
            <choiceReferences>MemberSSNUpdate</choiceReferences>
            <choiceReferences>Reinstate</choiceReferences>
            <choiceReferences>ReportGenerator</choiceReferences>
            <choiceReferences>Research</choiceReferences>
            <choiceReferences>SHOPIndividualExchange</choiceReferences>
            <choiceReferences>StandardAltIDChange</choiceReferences>
            <choiceReferences>Term</choiceReferences>
            <choiceReferences>TPAReports</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Select</elementReference>
            </defaultValue>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type_NICE</name>
            <choiceReferences>Add</choiceReferences>
            <choiceReferences>CalPERSElectronicFallout</choiceReferences>
            <choiceReferences>Change</choiceReferences>
            <choiceReferences>CobraAdd</choiceReferences>
            <choiceReferences>CobraChange</choiceReferences>
            <choiceReferences>CobraTerm</choiceReferences>
            <choiceReferences>CorrectiontoPreviouslyMailedFaxedDocument</choiceReferences>
            <choiceReferences>CPTIN</choiceReferences>
            <choiceReferences>DualPlatform</choiceReferences>
            <choiceReferences>ElectronicFallout</choiceReferences>
            <choiceReferences>GroupLevelTerm</choiceReferences>
            <choiceReferences>HostSystemErrorReports</choiceReferences>
            <choiceReferences>MemberSSNUpdate</choiceReferences>
            <choiceReferences>Reinstate</choiceReferences>
            <choiceReferences>Reporting</choiceReferences>
            <choiceReferences>Research</choiceReferences>
            <choiceReferences>SHOPIndividualExchange</choiceReferences>
            <choiceReferences>Term</choiceReferences>
            <choiceReferences>TPAReports</choiceReferences>
            <choiceReferences>W2Report</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Select</elementReference>
            </defaultValue>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>NICE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NICE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>requestScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>requestScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupNameScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Group Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PolicyScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Policy</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>requestScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubjectGroupIDScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Subject Group ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StreamGroupId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Declaration</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Have completed document for processing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6) OR 7</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Type_UNET</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>StandardAltIDChange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_UNET</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CPTIN</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_PRIME</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CPTIN</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_NICE</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CPTIN</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_NICE</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>W2Report</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_NICE</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Reporting</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>duplicateMemberWarning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 45, 45);&quot;&gt;NOTE : The requestor is responsible for having claims rekeyed under the correct record. If claims history exists and the comments do not state that claims have already been rekeyed under the correct record, then the request will be pended back prior to the coverage lines being termed start=stop.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_UNET</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Duplicate Member</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>standardAltWarning</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(234, 45, 45);&quot;&gt;Standard Alt ID changes only apply to generating a new standard Alt ID for the family&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(234, 45, 45);&quot;&gt;Changes for non-standard Alt IDs are not supported through this request type&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(234, 45, 45);&quot;&gt;Requests to convert a customer to non-standard Alt IDs require BAR approval and aren&apos;t supported through this request type&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 45, 45);&quot;&gt;By clicking Next below you agree that written approval has been received and STREAM request may be denied or pended back for proof of written approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>PlatformScreen1</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PlatformScreen2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UNET</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Request_Type_UNET</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard Alt-ID Change</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>343</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Get_Stream_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChildCountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DependentCountNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Store Dependent count for Term and Cobra Term Request Type</description>
        <name>DependentCountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Dependent(s) Only</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores eService Request Platform Values from Aura Component</description>
        <name>eServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilySectionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>groupNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IEXGroupValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Use to Store Partner Checkbox Data Section</description>
        <name>PartnerVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrolees__c</objectType>
    </variables>
    <variables>
        <description>Used to Store selected Source from UI</description>
        <name>Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>policyNumberVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyRecordTypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores Value of the Created Request Details Object Id</description>
        <name>RequestDetailObjectRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Created to store the record id of Request Details Object</description>
        <name>requestDetailRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stream_Request_Details__c</objectType>
    </variables>
    <variables>
        <description>Stores Selected request type</description>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores Stream Group Id values from Aura Component</description>
        <name>StreamGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to Fetch Stream record</description>
        <name>StreamGroupRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stream__c</objectType>
    </variables>
    <variables>
        <name>subjectGroupIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminationLevelVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
