src/flows/Interaction_Cases_Withdrawn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This will update all the cases related to the Interaction as Withdrawn</description>
    <interviewLabel>Interaction Cases Withdrawn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Cases Withdrawn</label>
    <loops>
        <description>Looping through all the cases related to the interaction</description>
        <name>Loop_through_all_Cases</name>
        <label>Loop through all Cases</label>
        <locationX>337</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>eachCase</assignNextValueToReference>
        <collectionReference>vFind_All_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Case_Status_Withdrawn</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>find all cases related to the interaction</description>
        <name>Find_All_Related_Cases</name>
        <label>Find All Related Cases</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vFind_All_Related_Cases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This will update the case as Withdrawn</description>
        <name>Update_Case_Status_Withdrawn</name>
        <label>Update Case Status - Withdrawn</label>
        <locationX>337</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_Withdrawn__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Find_All_Related_Cases</startElementReference>
    <status>Active</status>
    <variables>
        <name>eachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFind_All_Related_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
