src/flows/Interaction_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>No changes to the cases counter</description>
        <name>Counter_No_Increment</name>
        <label>Counter No Increment</label>
        <locationX>1210</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>vCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCtr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtrWithdrawn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrWithdrawnIncrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closedRoutedExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_No_Increment_Withdrawn</name>
        <label>Counter No Increment</label>
        <locationX>1599</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>vCtrWithdrawn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCtrWithdrawn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrIcrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increment the open cases counter</description>
        <name>Open_Cases_Counter</name>
        <label>Open Cases Counter</label>
        <locationX>1339</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>vOpenCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openCtrIncrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrIcrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtrWithdrawn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrWithdrawnIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routed_Cases_Exist</name>
        <label>Routed Cases Exist</label>
        <locationX>1451</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>closedRoutedExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrIcrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCtrWithdrawn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ctrWithdrawnIncrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenCtr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openCtrIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the Case Status</description>
        <name>Case_Status</name>
        <label>Case Status?</label>
        <locationX>1581</locationX>
        <locationY>652</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Cases_Counter</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Closed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_No_Increment</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_No_Increment_Withdrawn</targetReference>
            </connector>
            <label>Withdrawn</label>
        </rules>
        <rules>
            <name>Routed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>eachCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eachCase.Routed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Routed_Cases_Exist</targetReference>
            </connector>
            <label>Routed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the status of the cases related to the interaction</description>
        <name>Check_Case_Status_Count</name>
        <label>Check Case Status Count</label>
        <locationX>650</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Update_Interaction_Status_Closed_Interaction_Resolution_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpenCtr</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Interaction</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCtr</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interaction_Status_Closed_Interaction_Resolution_Date</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Withdrawn_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCtrWithdrawn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interaction_Status_Withdrawn</targetReference>
            </connector>
            <label>Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Interaction</name>
        <label>Closed/Reopened Interaction</label>
        <locationX>981</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Update_Interaction_Status_Open_Clear_Interaction_Resolution_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vInteractionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vInteractionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reopen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interaction_Status_Reopen_Clear_Interaction_Resolution_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interaction_has_any_Closed_Routed_Cases</name>
        <label>Interaction has any Closed/Routed Cases?</label>
        <locationX>856</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closedRoutedExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interaction_No_Withdrawn_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>closedRoutedExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interaction_No_Withdrawn_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>ctrIcrement</name>
        <dataType>Number</dataType>
        <expression>{!vCtr}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ctrWithdrawnIncrement</name>
        <dataType>Number</dataType>
        <expression>{!vCtrWithdrawn}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>openCtrIncrement</name>
        <dataType>Number</dataType>
        <expression>{!vOpenCtr}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Interaction Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Automation</label>
    <loops>
        <description>Looping through all the cases related to the interaction</description>
        <name>Loop_through_all_Cases</name>
        <label>Loop through all Cases</label>
        <locationX>749</locationX>
        <locationY>654</locationY>
        <assignNextValueToReference>eachCase</assignNextValueToReference>
        <collectionReference>vFind_Open_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_has_any_Closed_Routed_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>find all cases related to the interaction</description>
        <name>Find_Open_Cases</name>
        <label>Find All Related Cases</label>
        <locationX>589</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vFind_Open_Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Routed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Interaction_Status</name>
        <label>Get Interaction Status</label>
        <locationX>448</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Open_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <object>Interaction__c</object>
        <outputAssignments>
            <assignToReference>vInteractionStatus</assignToReference>
            <field>Current_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bypass_Validation_Rule</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>447</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_Interaction_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the No Withdrawn field on the Interaction to be false</description>
        <name>Update_Interaction_No_Withdrawn_False</name>
        <label>Update Interaction No Withdrawn - False</label>
        <locationX>753</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Check_Case_Status_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Withdrawn__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the No Withdrawn field on the Interaction to be true</description>
        <name>Update_Interaction_No_Withdrawn_True</name>
        <label>Update Interaction No Withdrawn - True</label>
        <locationX>906</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Check_Case_Status_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Withdrawn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>If there are no open cases related to the interaction, then update the Interaction Status as Closed and Resolution Date to the Current Date/Time. This will also clear the Interaction Follow up date.</description>
        <name>Update_Interaction_Status_Closed_Interaction_Resolution_Date</name>
        <label>Update Interaction Status - Closed / Interaction Resolution Date/Follow Up Date</label>
        <locationX>654</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Interaction Status to Open</description>
        <name>Update_Interaction_Status_Open_Clear_Interaction_Resolution_Date</name>
        <label>Update Interaction Status - Open/Clear Interaction Resolution Date</label>
        <locationX>1184</locationX>
        <locationY>241</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Date__c</field>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interaction_Status_Reopen_Clear_Interaction_Resolution_Date</name>
        <label>Update Interaction Status-Reopen/ Clear Interaction Resolution Date</label>
        <locationX>1187</locationX>
        <locationY>109</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Reopen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Date__c</field>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interaction_Status_Withdrawn</name>
        <label>Update Interaction Status-Withdrawn</label>
        <locationX>501</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <startElementReference>Update_Bypass_Validation_Rule</startElementReference>
    <status>Active</status>
    <variables>
        <name>closedRoutedExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>eachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAnyClosedCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vCtr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCtrWithdrawn</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFind_Open_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vInteractionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpenCtr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
