src/flows/Interaction_Follow_Up_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>First_Iteration</name>
        <label>First Iteration</label>
        <locationX>193</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>latestCaseFollowUpDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCase.Follow_Up_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Latest_Follow_Up_Date_No_Update</name>
        <label>Latest Follow Up Date No Update</label>
        <locationX>513</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>latestCaseFollowUpDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latestCaseFollowUpDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Latest_Follow_Up_Date_Update</name>
        <label>Latest Follow Up Date Update</label>
        <locationX>560</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>latestCaseFollowUpDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCase.Follow_Up_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Latest_Case_Follow_Up_Date</name>
        <label>Latest Case Follow Up Date?</label>
        <locationX>352</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Iteration</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>eachCase.Follow_Up_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Follow_Up_Date_No_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>eachCase.Follow_Up_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Follow_Up_Date_Update</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Latest_Follow_Up_Date_Empty</name>
        <label>Latest Follow Up  Date Empty?</label>
        <locationX>648</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Follow_Up_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestCaseFollowUpDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_No_Follow_Up_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseLatestFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!latestCaseFollowUpDate})</expression>
    </formulas>
    <interviewLabel>Interaction Follow Up Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Follow Up Date</label>
    <loops>
        <name>Loop_through_all_the_Cases</name>
        <label>Loop through all the Cases</label>
        <locationX>358</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>eachCase</assignNextValueToReference>
        <collectionReference>vGet_Related_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Latest_Case_Follow_Up_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Latest_Follow_Up_Date_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_the_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Follow_Up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vGet_Related_Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Follow_Up_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Follow_Up_Date</name>
        <label>Update Follow Up Date</label>
        <locationX>834</locationX>
        <locationY>35</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>caseLatestFollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Follow_Up_Date</name>
        <label>Update No Follow Up Date</label>
        <locationX>657</locationX>
        <locationY>261</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteractionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
        </inputAssignments>
        <object>Interaction__c</object>
    </recordUpdates>
    <startElementReference>Get_Related_Cases</startElementReference>
    <status>Active</status>
    <variables>
        <name>eachCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InteractionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestCaseFollowUpDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGet_Related_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
