src/flows/New_CPM_Case_in_CPM_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_validateIsAnyPicklistNotSelected</name>
        <label>Case_validateIsAnyPicklistNotSelected</label>
        <locationX>479</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Submitting_Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retro_Reason_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Topic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypePL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandatory_Fields_Validation_Message</targetReference>
            </connector>
            <label>NotSelected</label>
        </rules>
        <rules>
            <name>ContactTypeBothValidation</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactTypeBothValidationScreen</targetReference>
            </connector>
            <label>ContactTypeBothValidation</label>
        </rules>
        <rules>
            <name>ContactTypeExternalValidation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>External_Contact_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactType_External_Validation_Messages_Screen</targetReference>
            </connector>
            <label>ContactTypeExternalValidation</label>
        </rules>
        <rules>
            <name>ContactTypeInternalValidation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Contact_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactType_Internal_Validation_Messages_Screen</targetReference>
            </connector>
            <label>ContactTypeInternalValidation</label>
        </rules>
        <rules>
            <name>AllSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submitting_Department</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retro_Reason_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Topic</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypePL</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provider_State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Submission_Details</targetReference>
            </connector>
            <label>AllSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectSubmission_validateIsAnyPicklistNotSelected</name>
        <label>ProjectSubmission_validateIsAnyPicklistNotSelected</label>
        <locationX>1176</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllPicklistValuesNotSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Root_Cause_Remediated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dates_Within_Reconsideration_Timeframe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Issue_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Operating_Procedure_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identified_by</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_of_Truth_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectSubmissionValidationMessageScreen</targetReference>
            </connector>
            <label>AllPicklistValuesNotSelected</label>
        </rules>
        <rules>
            <name>AllPicklistValuesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Root_Cause_Remediated</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dates_Within_Reconsideration_Timeframe</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Configuration_Update</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Issue_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Standard_Operating_Procedure_Update</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Identified_by</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source_of_Truth_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <label>AllPicklistValuesSelected</label>
        </rules>
    </decisions>
    <description>This flow is used to create Case from CPM Community for guest users - Added COSMOS fields</description>
    <dynamicChoiceSets>
        <name>C_S_TX_Product</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C_S_TX_Product__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfigurationUpdate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Configuration_Update__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPM_Community_Contact_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DatesWithinReconsiderationTimeframe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dates_Within_Reconsideration_Timeframe__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Identifiedby</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Identified_By__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IssueType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Type__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProviderState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPM_Community_Provider_State__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProviderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RetroReasonCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Retro_Reason_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RootCauseRemediated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Root_Cause_Remediated__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceofTruthType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Truth_Type__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StandardOperatingProcedureUpdate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SOP_Update__c</picklistField>
        <picklistObject>Project_Submission_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubmittingDepartment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPM_Community_Submitting_Department__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicPLForCPMCommunityRCType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPM_Community_Topic__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypePLForCPMCommunityRCType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPM_Community_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Validate_Provider_TIN</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT(ISNUMBER({!Provider_TIN})),LEN( {!Provider_TIN}) != 9)</expression>
    </formulas>
    <interviewLabel>New CPM Case in CPM Community {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New CPM Case in CPM Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>819</locationX>
        <locationY>482</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>getCaseDetailsFromCaseId</targetReference>
        </connector>
        <inputAssignments>
            <field>C_S_TX_Product__c</field>
            <value>
                <elementReference>C_S_T_X_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onshore_Restriction__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_External_Contact_Email__c</field>
            <value>
                <elementReference>External_Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_External_Contact_Name__c</field>
            <value>
                <elementReference>External_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_External_Contact_Phone__c</field>
            <value>
                <elementReference>External_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Internal_Contact_Email__c</field>
            <value>
                <elementReference>Internal_Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Internal_Contact_Name__c</field>
            <value>
                <elementReference>Internal_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Internal_Contact_Phone__c</field>
            <value>
                <elementReference>Internal_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Project_Description__c</field>
            <value>
                <elementReference>Project_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Provider_ID__c</field>
            <value>
                <elementReference>Provider_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Provider_Name__c</field>
            <value>
                <elementReference>Provider_Group_Name_Provider_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Provider_State__c</field>
            <value>
                <elementReference>Provider_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Provider_TIN__c</field>
            <value>
                <elementReference>Provider_TIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Referral_Number__c</field>
            <value>
                <elementReference>Referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Submitter_Email__c</field>
            <value>
                <elementReference>Submitter_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Submitter_First_name__c</field>
            <value>
                <elementReference>Submitter_First_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Submitter_Last_Name__c</field>
            <value>
                <elementReference>Submitter_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Type__c</field>
            <value>
                <elementReference>Provider_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CPMCommunityRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retro_Reason_Code__c</field>
            <value>
                <elementReference>Retro_Reason_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitting_Department__c</field>
            <value>
                <elementReference>Submitting_Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic__c</field>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypePL</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProjectSubmissionDetails</name>
        <label>CreateProjectSubmissionDetails</label>
        <locationX>1051</locationX>
        <locationY>341</locationY>
        <assignRecordIdToReference>projectSubmissionId</assignRecordIdToReference>
        <connector>
            <targetReference>Ending_CPM_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Beginning_Date__c</field>
            <value>
                <elementReference>Beginning_DOS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beginning_Process__c</field>
            <value>
                <elementReference>Beginning_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COSMOS_Divisions__c</field>
            <value>
                <elementReference>COSMOS_Divisions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COSMOS_Panels__c</field>
            <value>
                <elementReference>COSMOS_Panels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Examples__c</field>
            <value>
                <elementReference>Claim_Examples</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Update__c</field>
            <value>
                <elementReference>Configuration_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Issue_Identified__c</field>
            <value>
                <elementReference>Date_Issue_Identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_UHC_Notified_by_State__c</field>
            <value>
                <elementReference>Date_UHC_Notified_by_State_C_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dates_Within_Reconsideration_Timeframe__c</field>
            <value>
                <elementReference>Dates_Within_Reconsideration_Timeframe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ending_Date__c</field>
            <value>
                <elementReference>Ending_DOS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ending_Process__c</field>
            <value>
                <elementReference>Ending_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Outcome__c</field>
            <value>
                <elementReference>Expected_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Description__c</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Identified_By__c</field>
            <value>
                <elementReference>Identifiedby</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Type__c</field>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_ID__c</field>
            <value>
                <elementReference>Referral_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remediation_Details__c</field>
            <value>
                <elementReference>Remediation_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Root_Cause_Remediated__c</field>
            <value>
                <elementReference>Root_Cause_Remediated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOP_Name__c</field>
            <value>
                <elementReference>Standard_Operating_Procedure_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOP_Update__c</field>
            <value>
                <elementReference>Standard_Operating_Procedure_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Truth_Date__c</field>
            <value>
                <elementReference>Source_of_Truth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Truth_Detail__c</field>
            <value>
                <elementReference>Source_of_Truth_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Truth_Type__c</field>
            <value>
                <elementReference>Source_of_Truth_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Process_Change_Date__c</field>
            <value>
                <elementReference>System_Process_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timely_Reconsideration_Details__c</field>
            <value>
                <elementReference>Timely_Reconsideration_Details</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Submission_Detail__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCaseDetailsFromCaseId</name>
        <label>getCaseDetailsFromCaseId</label>
        <locationX>912</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProjectSubmissionDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCPMCommunityRecTypeId</name>
        <label>getCPMCommunityRecTypeId</label>
        <locationX>233</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_CPM_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claim_Project_Management_Community</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CPMCommunityRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Please Provide External Contact Name/Email/Phone number</description>
        <name>ContactType_External_Validation_Messages_Screen</name>
        <label>ContactType External Validation Messages Screen</label>
        <locationX>491</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactTypeExternalValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 10, 10);&quot;&gt;Please fill in external contact name/email/phone number, please click on previous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactType_Internal_Validation_Messages_Screen</name>
        <label>ContactType Internal Validation Messages Screen</label>
        <locationX>603</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactTypeInternalValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 10, 10);&quot;&gt;Please fill in internal contact name/email/phone number, please click on previous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContactTypeBothValidationScreen</name>
        <label>ContactTypeBothValidationScreen</label>
        <locationX>359</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactTypeBothValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 10, 10);&quot;&gt;Please fill in both internal and external contact name/email/phone number, please click on previous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ending_CPM_Case</name>
        <label>Ending CPM Case</label>
        <locationX>1157</locationX>
        <locationY>243</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CPM_Community_Last_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you for case submission, here is the case reference number &lt;/span&gt;&lt;b&gt;{!CaseData.CaseNumber}&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mandatory_Fields_Validation_Message</name>
        <label>Mandatory Fields Validation Message</label>
        <locationX>688</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MandatoryFieldsErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 10, 10);&quot;&gt;Please fill in all required fields, please click on previous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_CPM_Case</name>
        <label>New CPM Case</label>
        <locationX>365</locationX>
        <locationY>283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_validateIsAnyPicklistNotSelected</targetReference>
        </connector>
        <fields>
            <name>Submitting_Department</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>SubmittingDepartment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Submitting Department</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_First_name</name>
            <dataType>String</dataType>
            <fieldText>Submitter First name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Submitter First Name Length should not be greater then 100 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Submitter_First_name}) &lt;101</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Submitter_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Submitter Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Submitter Last Name Length should not be greater then 100 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Submitter_Last_Name}) &lt;101</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Submitter_Email</name>
            <dataType>String</dataType>
            <fieldText>Submitter Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 17, 17);&quot;&gt;Please enter valid input data&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Submitter_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ContactType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Internal_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Internal Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 12, 12); font-size: 11px;&quot;&gt;Internal Contact Name Length should not be greater then 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Internal_Contact_Name}) &lt;51</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Internal_Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>Internal Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 10, 10);&quot;&gt;Please enter valid phone number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Internal_Contact_Phone} , &quot;\\D*?(\\d\\D*?){10}&quot; )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Internal_Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>Internal Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 13, 13);&quot;&gt;Please enter valid email address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Internal_Contact_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>External_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>External Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 12, 12); font-size: 11px;&quot;&gt;External Contact Name Length should not be greater then 50 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!External_Contact_Name}) &lt;51</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>External_Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>External Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 9, 9);&quot;&gt;Please enter valid phone number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!External_Contact_Phone} , &quot;\\D*?(\\d\\D*?){10}&quot; )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>External_Contact_Email</name>
            <dataType>String</dataType>
            <fieldText>External Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 8, 8);&quot;&gt;Please enter valid email address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!External_Contact_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Referral</name>
            <dataType>String</dataType>
            <fieldText>Referral #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Referral # Length should not be greater then 25 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referral}) &lt;26</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Retro_Reason_Code</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>RetroReasonCode</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Retro Reason Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topic</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>TopicPLForCPMCommunityRCType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypePL</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>TypePLForCPMCommunityRCType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ProviderType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Description</name>
            <dataType>String</dataType>
            <fieldText>Project Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); font-size: 11px;&quot;&gt;Project Description Length should not be greater then 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Project_Description}) &lt;256</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Provider_ID</name>
            <dataType>String</dataType>
            <fieldText>Provider ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 12, 12); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Provider ID Length should not be greater then 20 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Provider_ID}) &lt;21</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Provider_Group_Name_Provider_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Group Name/Provider Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 12, 12); font-size: 11px;&quot;&gt;Provider Group Name/Provider Name Length should not be greater then 75 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Provider_Group_Name_Provider_Name}) &lt;76</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Provider_State</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ProviderState</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Provider State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provider_TIN</name>
            <dataType>String</dataType>
            <fieldText>Provider TIN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 43, 46); font-family: Arial, Helvetica, sans-serif; font-size: 11px;&quot;&gt;Provider TIN must be a 9 digit number or enter &apos;multiple&apos; if you have many TINs. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>((ISNUMBER({!Provider_TIN})&amp;&amp; LEN({!Provider_TIN}) = 9) || Upper({!Provider_TIN}) =&apos;MULTIPLE&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>C_S_T_X_Product</name>
            <choiceReferences>C_S_TX_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C&amp;S TX Product</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Use ctrl button to select more than one value&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Submission_Details</name>
        <label>Project Submission Details</label>
        <locationX>975</locationX>
        <locationY>82</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Beginning_DOS</name>
            <dataType>Date</dataType>
            <fieldText>Beginning DOS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Beginning_Process</name>
            <dataType>Date</dataType>
            <fieldText>Beginning Process</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ending_DOS</name>
            <dataType>Date</dataType>
            <fieldText>Ending DOS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ending_Process</name>
            <dataType>Date</dataType>
            <fieldText>Ending Process</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>System_Process_Change</name>
            <dataType>Date</dataType>
            <fieldText>System/Process Change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Examples</name>
            <dataType>String</dataType>
            <fieldText>Claim Examples</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 5, 5); font-size: 11px;&quot;&gt;Claim Examples Length should not be greater then 55 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Claim_Examples}) &lt;56</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Issue_Description</name>
            <defaultValue>
                <stringValue>{!None}</stringValue>
            </defaultValue>
            <fieldText>Issue Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 19, 40); font-size: 11px;&quot;&gt;Issue Description should not be blank and should be less than 32768 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!Issue_Description})) &amp;&amp; LEN({!Issue_Description}) &lt;32769</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Expected_Outcome</name>
            <fieldText>Expected Outcome</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 5, 5); font-size: 11px;&quot;&gt;Expected Outcome Length should not be greater then 32768 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Expected_Outcome}) &lt;32679</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Root_Cause_Remediated</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>RootCauseRemediated</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Root Cause Remediated?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Remediation_Details</name>
            <fieldText>Remediation Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 19, 40); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Remediation Details length should be less than 1000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Remediation_Details}) &lt;1001</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Root_Cause_Remediated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dates_Within_Reconsideration_Timeframe</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>DatesWithinReconsiderationTimeframe</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Dates Within Reconsideration Timeframe?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timely_Reconsideration_Details</name>
            <fieldText>Timely Reconsideration Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 5, 5); font-size: 11px;&quot;&gt;Timely Reconsideration Details Length should not be greater then 1000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Timely_Reconsideration_Details}) &lt;1001</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Configuration_Update</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ConfigurationUpdate</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Configuration Update</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_ID</name>
            <dataType>String</dataType>
            <fieldText>Referral ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 5, 5); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Referral ID Length should not be greater then 100 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Referral_ID}) &lt;101</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Issue_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>IssueType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Issue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Issue_Identified</name>
            <dataType>Date</dataType>
            <fieldText>Date Issue Identified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Identified_by</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Identifiedby</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Identified by</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Standard_Operating_Procedure_Update</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>StandardOperatingProcedureUpdate</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Standard Operating Procedure Update</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Standard_Operating_Procedure_Name</name>
            <dataType>String</dataType>
            <fieldText>Standard Operating Procedure Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 5, 5); font-size: 11px;&quot;&gt;Standard Operating Procedure Name Length should not be greater then 100 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Standard_Operating_Procedure_Name}) &lt;101</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_UHC_Notified_by_State_C_S</name>
            <dataType>Date</dataType>
            <fieldText>Date UHC Notified by State (C&amp;S)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_of_Truth_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>SourceofTruthType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Source of Truth Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_of_Truth</name>
            <dataType>Date</dataType>
            <fieldText>Source of Truth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source_of_Truth_Detail</name>
            <fieldText>Source of Truth Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 5, 5); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Source of Truth Detail Length should not be greater then 1000 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Source_of_Truth_Detail}) &lt;1001</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>COSMOS_Divisions</name>
            <dataType>String</dataType>
            <fieldText>COSMOS Divisions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>COSMOS_Panels</name>
            <dataType>String</dataType>
            <fieldText>COSMOS Panels</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProjectSubmissionValidationMessageScreen</name>
        <label>ProjectSubmissionValidationMessageScreen</label>
        <locationX>1327</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProjectSubmissionValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;Please fill in all required fields, please click on previous.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCPMCommunityRecTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CPMCommunityRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CPMCommunityRecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>External_Contact_Email_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>External_Contact_Phone_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Internal_Contact_Email_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Internal_Contact_Phone_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectSubmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTopicValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTypeValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Submitter_Email_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
