src/flows/Optum_Rx_Connection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>This will check if the user has entered comments in the Additional Information section before forwarding it to OptumRx</description>
        <name>Comments_Entered</name>
        <label>Comments Entered?</label>
        <locationX>604</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>No_Comments_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseComments</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Optum_Rx_Connection_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_to_Forward_for_Optum_Rx</name>
        <label>Eligible to Forward for Optum Rx</label>
        <locationX>375</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>No_Forward_to_Optum_Rx</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>varCaseDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OptumRx PSS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Client Advocate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Shared_with_Optum_Rx_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the case is already shared to Optum Rx</description>
        <name>Shared_to_Optum_Rx</name>
        <label>Shared to Optum Rx?</label>
        <locationX>525</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSharedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Shared_to_Optum_Rx</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseSharedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments_Entered</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Optum Rx Connection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Optum Rx Connection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Share Case Records with Optum Rx</description>
        <name>Share_Case_Record_with_Optum_Rx_Connection</name>
        <label>Share Case Record with Optum Rx Connection</label>
        <locationX>895</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Waiting</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionId</field>
            <value>
                <elementReference>varConnectionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocalRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PartnerNetworkRecordConnection</object>
    </recordCreates>
    <recordLookups>
        <name>Case_Shared_with_Optum_Rx_Status</name>
        <label>Case Shared with Optum Rx Status</label>
        <locationX>385</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_to_Optum_Rx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocalRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <object>PartnerNetworkRecordConnection</object>
        <outputAssignments>
            <assignToReference>varCaseSharedStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Routed_To_Department</name>
        <label>Get Case Routed To Department</label>
        <locationX>267</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligible_to_Forward_for_Optum_Rx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vCaseComments</assignToReference>
            <field>Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseDepartment</assignToReference>
            <field>Department__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This is used to get the connection Id of the active Optum Rx connection.</description>
        <name>Get_Optum_Rx_Connection_Id</name>
        <label>Get Optum Rx Connection Id</label>
        <locationX>755</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Share_Case_Record_with_Optum_Rx_Connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConnectionStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>PartnerNetworkConnection</object>
        <outputAssignments>
            <assignToReference>varConnectionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Case Status  to Waiting once the case is forwarded to OptumRx</description>
        <name>Update_Case_Status_to_Waiting</name>
        <label>Update Case Status to Waiting</label>
        <locationX>1016</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Share_to_Optum_Rx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Already_Shared_to_Optum_Rx</name>
        <label>Already Shared to Optum Rx</label>
        <locationX>683</locationX>
        <locationY>489</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseSharingFailure</name>
            <fieldText>&lt;p&gt;This case is already shared to Optum Rx. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Comments_Entered</name>
        <label>No Comments Entered</label>
        <locationX>775</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Comments</name>
            <fieldText>&lt;p&gt;Please enter a Comment in the Comments field of the Additional Information Section.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Forward_to_Optum_Rx</name>
        <label>No Forward to Optum Rx</label>
        <locationX>585</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseNoSharing</name>
            <fieldText>&lt;p&gt;This case cannot be shared to Optum Rx&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Share_to_Optum_Rx</name>
        <label>Share to Optum Rx</label>
        <locationX>1017</locationX>
        <locationY>332</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseSharingSuccess</name>
            <fieldText>&lt;p&gt;This case is now externally shared to Optum Rx.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Case_Routed_To_Department</startElementReference>
    <status>Active</status>
    <variables>
        <description>Case ID of the case to be shared with Optum Rx</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCaseDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseSharedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Connection Id of the Optum Rx connection, that a case is shared with</description>
        <name>varConnectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
