src/flows/Populate_SlaProcess_on_Entitlements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Name_Match_Found</name>
        <label>Is Name Match Found</label>
        <locationX>130</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Entitlement_Sla_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update With New SlaID</defaultConnectorLabel>
        <rules>
            <name>Keep_Original_SlaID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SlaIDToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Keep Original SlaID</label>
        </rules>
    </decisions>
    <description>Adds or updates Entitlement Name field to SlaProcess with matching name when Entitlement is created or updated</description>
    <interviewLabel>Populate SlaProcess on Entitlements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate SlaProcess on Entitlements</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Entitlement_lookup</name>
        <label>Entitlement lookup</label>
        <locationX>94</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SlaProcess_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartID</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>EntititlementName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SlaProcess_lookup</name>
        <label>SlaProcess lookup</label>
        <locationX>73</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Name_Match_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVersionDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntititlementName</elementReference>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>SlaIDToUpdate</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Entitlement_Sla_Update</name>
        <label>Update Sla on Entitlement</label>
        <locationX>110</locationX>
        <locationY>546</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>SlaIDToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordUpdates>
    <startElementReference>Entitlement_lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>EntititlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SlaIDToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
