src/flows/Publish_Platform_Events_to_Evisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Publish Platform Events to Evisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Platform Events to Evisor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SENS_to_EVisor_Platform_Events</name>
        <label>Create SENS to EVisor Platform Events</label>
        <locationX>702</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Update_Flag_on_Sens_Publish_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisor_Employee_ID__c</field>
            <value>
                <elementReference>$Record.Advisor_Employee_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisor_MSID__c</field>
            <value>
                <elementReference>$Record.Advisor_MSID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisor_Name__c</field>
            <value>
                <elementReference>$Record.Advisor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CHN_Qualified__c</field>
            <value>
                <elementReference>$Record.CHN_Qualified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CHN_Referral_Identifier__c</field>
            <value>
                <elementReference>$Record.CHN_Referral_Identifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complex_Indicator__c</field>
            <value>
                <elementReference>$Record.Complex_Indicator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>$Record.DOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation_Changed_Date__c</field>
            <value>
                <elementReference>$Record.Designation_Changed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EID__c</field>
            <value>
                <elementReference>$Record.EID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_Member_Identifier__c</field>
            <value>
                <elementReference>$Record.Enrolled_Member_Identifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Date__c</field>
            <value>
                <elementReference>$Record.Enrollment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Overview__c</field>
            <value>
                <elementReference>$Record.Family_Overview__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Status__c</field>
            <value>
                <elementReference>$Record.Family_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Family_Contact_Into_Center__c</field>
            <value>
                <elementReference>$Record.First_Family_Contact_Into_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_ID__c</field>
            <value>
                <elementReference>$Record.Member_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_ID__c</field>
            <value>
                <elementReference>$Record.Policy_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <elementReference>$Record.Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Referred__c</field>
            <value>
                <elementReference>$Record.Reason_for_Referred__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship__c</field>
            <value>
                <elementReference>$Record.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SENS_Publish_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SENS_Unique_ID__c</field>
            <value>
                <elementReference>$Record.SENS_Unique_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Code__c</field>
            <value>
                <elementReference>$Record.Source_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Code__c</field>
            <value>
                <elementReference>$Record.State_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>SENS_eVisor__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>To update the Sens_To_Microservice__c flag on SENS PUBLISH object</description>
        <name>Update_Flag_on_Sens_Publish_Records</name>
        <label>Update Flag on Sens Publish Records</label>
        <locationX>702</locationX>
        <locationY>564</locationY>
        <inputAssignments>
            <field>Is_Data_Published_in_Topic__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retry_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>575</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_SENS_to_EVisor_Platform_Events</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(),ISCHANGED({!$Record.Advisor_Name__c}),ISCHANGED({!$Record.Advisor_MSID__c}),ISCHANGED({!$Record.Designation__c}),ISCHANGED({!$Record.Complex_Indicator__c}),AND(ISCHANGED({!$Record.Retry_Flag__c}),{!$Record.Retry_Flag__c}=TRUE))</filterFormula>
        <object>SENS_Publish__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
