src/flows/SENS_Update_Assigned_Family_Advisor_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Updates the assigned family advisor when creating a case</description>
    <formulas>
        <description>puts DOB in MM/DD/YYYY format</description>
        <name>DOBFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!DOB_Date}))+&quot;/&quot; + TEXT(DAY({!DOB_Date}))+&quot;/&quot; + TEXT(YEAR({!DOB_Date}))</expression>
    </formulas>
    <interviewLabel>SENS Update Assigned Family Advisor on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SENS Update Assigned Family Advisor on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Account ID using the Contact ID from the Account Contact Relationship object</description>
        <name>Get_Account_ID</name>
        <label>Get Account ID</label>
        <locationX>390</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>GetAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get&apos;s the SFID for the queue name</description>
        <name>Get_Queue_ID</name>
        <label>Get Queue ID</label>
        <locationX>780</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the restrictions for the family</description>
        <name>Get_restrictions</name>
        <label>Get restrictions</label>
        <locationX>648</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MemberID</assignToReference>
            <field>Member_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GetAssignedAdvisor</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PolicyID</assignToReference>
            <field>Policy_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UHGRestriction</assignToReference>
            <field>UHG_Restriction__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the subject name and dob from the contact</description>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>508</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_restrictions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DOB_Date</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the assigned advisor from the Family Account</description>
        <name>Update</name>
        <label>Update Assigned Advisor on Case</label>
        <locationX>923</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>updatecaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Family_Advisor__c</field>
            <value>
                <elementReference>GetAssignedAdvisor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>DOBFormat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID__c</field>
            <value>
                <elementReference>MemberID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onshore_Restriction__c</field>
            <value>
                <elementReference>OnshoreRestriction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Group_ID__c</field>
            <value>
                <elementReference>PolicyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Restriction__c</field>
            <value>
                <elementReference>UHGRestriction</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Get_Account_ID</startElementReference>
    <status>Active</status>
    <variables>
        <description>Contact ID from the case</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>DOB for the subject of the case</description>
        <name>DOB_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Account ID from the Account Contact Relationship</description>
        <name>GetAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The assigned advisor from the family account</description>
        <name>GetAssignedAdvisor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Member ID for the for the subject on the case</description>
        <name>MemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of the subject for the case</description>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Onshore restriction for the family</description>
        <name>OnshoreRestriction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <description>Policy ID for the subject on the case</description>
        <name>PolicyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SFID for Queue</description>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue Name the proactive alert is assigned to when new.</description>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>UHG Restriction for family</description>
        <name>UHGRestriction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case ID that family advisor needs to be updated on</description>
        <name>updatecaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
