src/flows/Subscribe_Platform_Event_to_get_CHN_Qualified_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert_Data</name>
        <label>Upsert Data</label>
        <locationX>690</locationX>
        <locationY>249</locationY>
        <actionName>UpsertRecordsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>CHNQualifiedData</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_CHN_qualified_Object_from_PE</name>
        <label>Assign Values to CHN qualified Object from PE</label>
        <locationX>423</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Complex_Indicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Complex_Indicator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.CHN_Referral_Identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CHN_Referral_Identifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policy_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Created_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_Modified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Modified_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_Service_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Service_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referral_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Referred_Source_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_Source_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Score_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Score_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Score_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Score_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.Score_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Score_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CHNQualifiedData.EID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Data</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Subscribe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscribe Platform Event to get CHN Qualified Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>569</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Values_to_CHN_qualified_Object_from_PE</targetReference>
        </connector>
        <object>CHN_Qualification__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CHNQualifiedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CHN_Qualified_Data__c</objectType>
    </variables>
</Flow>
