src/flows/W2_Report_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Report_Date_Requested_Check</name>
        <label>Report Date Requested Check</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Bypass_Validation_Rule_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Report_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Report_Date_1</targetReference>
            </connector>
            <label>First Report Date</label>
        </rules>
        <rules>
            <name>Second_Report_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested_1__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Report_Date_2</targetReference>
            </connector>
            <label>Second Report Date</label>
        </rules>
        <rules>
            <name>Third_Report_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>RequestDetails.Report_Dates_Requested_2__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Report_Date_3</targetReference>
            </connector>
            <label>Third Report Date</label>
        </rules>
    </decisions>
    <description>W2 Report Changes Display Text</description>
    <dynamicChoiceSets>
        <name>InvoiceMonthPicklistValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Month_s_Needed__c</picklistField>
        <picklistObject>Stream_Request_Details__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestYearPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Year__c</picklistField>
        <picklistObject>Stream_Request_Details__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AddDate</name>
        <dataType>String</dataType>
        <expression>  if(CONTAINS({!Invoice_Month_s_Needed}, &quot;All&quot;), {!Request_Year}+&apos;/&apos;+&apos;January;February;March;April;May;June;July;August;September;October;November;December&apos;, {!Request_Year}+&apos;/&apos;+{!Invoice_Month_s_Needed})</expression>
    </formulas>
    <interviewLabel>W2 Report Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequestDetails_0</name>
        <label>getRequestDetails</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Bypass_Validation_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Stream_Request_Details__c</object>
        <outputReference>RequestDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Report_Dates_Requested__c</queriedFields>
        <queriedFields>Report_Dates_Requested_1__c</queriedFields>
        <queriedFields>Report_Dates_Requested_2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Add_Report_Date_1</name>
        <label>Add Report Date 1</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Bypass_Validation_Rule_False_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Report_Dates_Requested__c</field>
            <value>
                <elementReference>AddDate</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Report_Date_2</name>
        <label>Add Report Date 2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Bypass_Validation_Rule_False_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Report_Dates_Requested_1__c</field>
            <value>
                <elementReference>AddDate</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Report_Date_3</name>
        <label>Add Report Date 3</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Bypass_Validation_Rule_False_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Report_Dates_Requested_2__c</field>
            <value>
                <elementReference>AddDate</elementReference>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update the backend field  to True so that the validation rule is not triggered when invoked from flow.</description>
        <name>Update_Bypass_Validation_Rule</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Report_Date_Requested_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update back the backend field to False.</description>
        <name>Update_Bypass_Validation_Rule_False</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update back the backend field to False.</description>
        <name>Update_Bypass_Validation_Rule_False_0</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update back the backend field to False.</description>
        <name>Update_Bypass_Validation_Rule_False_0_0</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This is used to update back the backend field to False.</description>
        <name>Update_Bypass_Validation_Rule_False_0_0_0</name>
        <label>Update Bypass Validation Rule</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Stream_Request_Details__c</object>
    </recordUpdates>
    <screens>
        <description>Report Details</description>
        <name>Report_Details</name>
        <label>Report Details</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRequestDetails_0</targetReference>
        </connector>
        <fields>
            <name>Request_Year</name>
            <choiceReferences>RequestYearPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Help_Text_Invoice_Month</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Checking ALL will select all 12 months for the requested year&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Month_s_Needed</name>
            <choiceReferences>InvoiceMonthPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Month(s) Needed</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_help_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;I understand that by clicking the ‘Next’ button it will allow me to add in additional dates to my request&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Report_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stream_Request_Details__c</objectType>
    </variables>
</Flow>
